*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.section__contianer{
    max-width: var(--max-width);
    margin: auto;
    padding:5rem 1rem ;
    background-color: black;
}

.section__header{
    margin-bottom: 1rem;
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
    color: white;
    background-color: black;
}

.section__subheader{
    max-width: 600px;
    margin: auto;
    text-align: center;
    color:var(text-light);
}


.navbar{
    height: 100px;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow:10px -1px 13px 2px rgb(244, 241, 241) ;
    
}

.logo1{
    height: 104px;
    width: 150px;
    display: flex;
    background-position:center;
    background-repeat: no-repeat;
}

a{
    color: #DCFFB7;
    font-size: 20px;
    text-decoration: none;
    background-color: black;
}

.bg__blur{
    position:absolute;
    box-shadow: 0 0 10000px 100px var(--secondary-color);
    background-color: black;
}
.join{
    padding: 1rem 2rem;
    background-color:orange;
    border-radius: 4px;
    height: 50px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    font-weight: bold;
    color:white;   
    cursor: pointer;
    transition: 0.3s;
}

i{
    color: #DCFFB7;
    
}
.join:hover{
    background-attachment:var(--secondary-color-drak);
}

.nav__links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.links a{
    position: relative;
    padding-bottom: 0.75px;
    color: var(white);
    background-color: black;
}

.links a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    transition: 0.3s;
}

.links a:hover::after{
    width:50px ;
}

.get{
    padding: 1rem 2rem;
    background-color:orange;
    border-radius: 4px;
    height: 55px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    font-weight: bold;
    color:white;   
    cursor: pointer;
    transition: 0.3s;
}


.header__container{
    position: relative;
    padding-top:2rem ;
    display: grid;
    grid-template-columns:repeat(2,1fr) ;
    align-items: center;
    gap:2rem;
}

.header__container::before {
    content:"FITNESS";
    position: absolute;
    bottom: 5rem;
    right: 20rem;
    font-size: 10rem;
    font-weight: 700;
    line-height: 7rem;
    color: var(white);
    opacity: 0.05;
    z-index: -1;
}

.header__blur{
    bottom: 5rrem;
    right: -1;
}

.header__content h4{
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: orange;
}

.header__content h1{
    margin-bottom: 1rem;
    font-size: 4.5rem;
    font-weight: 500;
    line-height:4.5rem;
    color: white;
}

.header__content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.5px white;
}

.header__content p{
    font-size: medium;
    margin-bottom: 2rem;
    color: white;
}

.header__image{
    position: relative;
}

header image::before{
    content: 'O';
    position: absolute ;
    top:0;
    left:50%;
    transform: translateX(-50px);
    font-size: 40rem;
    font-weight: 400;
    line-height: 20rem;
    color: white;
    opacity: 0.6;
    z-index: -1;
}

.header__image img{
    max-width: 350px;
    margin: auto;
}


.explore__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.explore__nav{
    display: flex;
    align-items:center;
    gap: 2rem;
}

.explore__nav span{
    padding:  0 6px;
    font-size: 1.5rem;
    color: white;
    border: 2px white;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.explore__nav span:hover{
    color: orange;
    border-color: orange;
}
.grid{
    grid-template-columns:1fr  1fr  1fr;
    row-gap: 20px;
    column-gap: 50px;

}
.explore__card span{
    display: inline-block;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size:1.305rem ;
    color: white;
    background-color:darkorange;
    border-radius: 5px;
}

.explore__card h4{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}

.explore__card p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 3px;
    padding: 6rem;
    box-sizing: border-box;
    background-color: black;
    color: white;
}
.section__header{
    text-align: center;
    align-items: left;
    font-weight: 700;
    
}

.explore__card a{
    color:white;
    transition: 0.3s;
}

.explore__card a:hover{
    color:orange;

}

.class__container{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 2rem;
}

.class__image{
    position: relative;
}



.class__image .img4{
  width: 200px;
  height: 200px;


}

.class__content{
    padding: 2rem;
}

.class_content .section__header{
    text-align: left;
    max-width: 400px;
}

.class__content p{
    margin-left: 4rem;
    color: white;
}

.table{
    
    border: 3%;
    background-color: burlywood;
    font-size: medium;
    font-style:Bold;
    margin: auto;
    color: white;
    position: relative;

}

.row{
    background-color: grey;
    font-size:medium;
    margin-bottom: 4rem;
}

.head{
    background-color: orange;
    border: 2px;
    margin: auto;
}

.data{
    
    -webkit-text-fill-color: white;
}

footer{
    background:rgb(61, 58, 58);
    text-align: center;
    padding:5rem 0;
}
footer .footer-logo{
    margin-bottom:3rem;
    width:150px;
}
footer .footer-socials a{
    margin-right:1rem;
}
footer .footer-socials{
    margin-bottom:3rem;
    margin-right:-1rem;
}
footer .copyright{
    color:var(--ternary);
}
.get1{
    align-content: center;
    margin-top:0 20px;
    margin-bottom: 0 30px;
    border-radius: 4px;
     padding: 1rem 2rem;
    background-color:orange;
    font-weight: normal;
    font-weight: bold;
    color:white;   
    cursor: pointer;
    transition: 0.3s;
    justify-content: center;
}

section.freelancer{
    text-align: center;
    background:orange;
    color:white;
    clip-path:polygon(0 0, 100% 0, 100% 100%, 67% 80%, 0 100%);
    padding-bottom:3rem;
    
}
section.freelancer h1{
    font-size:3rem;
    margin-bottom:0.5rem;
}
section.freelancer p{
    font-size:1.3rem;
    margin-bottom: 2rem;
    font-family:'Lato', sans-serif;
}
.list{
    text-align: center;
    background-color: orange;
}
.ol{
    background-color: orange;
}
section{
    padding:1rem 0;
}
.container{
    max-width:1152px;
    padding:0 15px;
    margin:0 auto;
}
.section-heading{
    color:orange; 
    text-align: center;
    margin-bottom:1rem;
    line-height: 0.5;
 }
 section.contact> .card1{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:3rem;
    -webkit-text-fill-color: white;
    background-color: orange;

}
section.contact .card1 .card{
    text-align: center;
    justify-content: space-between;
    -webkit-text-fill-color: aqua;  
}
section.contact .input-wrap{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:2rem;
    margin-bottom:2rem;
}
section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
}
section.contact .input-wrap-2 input{
    margin-bottom:2rem;
}
section.contact input{
    padding:0.5rem;
    border:1px solid var(--light);
    font-size: 0.9rem;
}
section.contact .input-wrap-2 textarea{
    padding:0.5rem;
    border:1px solid var(--light);
    font-size: 0.9rem;
}
section.contact .input-wrap-2 textarea:focus, section.contact input:focus{
    outline:none;  
}
section.contact .btn-wrapper{
    text-align: center;
    margin-top:2rem;
}
footer{
    background:orange;
    text-align: center;
    padding:2rem 0;
    -webkit-text-fill-color: #DCFFB7;
    font-size: large;
    font-weight: bolder;
    border-radius: 30%;
}
